.registerForm {
    @extend %styledForm;

    &__title { @extend %styledForm__title; }
    &__inputsDiv { @extend %styledForm__inputsDiv; }
    &__buttons { @extend %styledForm__buttons; }
}

.registerP {
    margin: 0;
    padding: 10px;
    text-align: center;

    a {
        font-weight: bold;
        color: $background-color-primary;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    img {
        width: 90%;
        max-width: 300px;
    }
}