.post {
    @extend %card;
    
    &__image {
        img {
            margin-bottom: 15px;
            width: 100%;
        }
    }

    &__content {
        @extend %card__content;
    }

    &__modifyContent {
        background-color: rgba(0,0,0,.8);
    }
}