.profileHeader {
    @extend %card;
    margin-top: 60px;

    &__head {
        @extend %card__head;
        position: relative;
        display: block;

        > div:first-of-type {
            margin: 0 auto;
            position: absolute;
            top: -45px;
            left: calc(50%);
            width: 90px;
            height: 90px;
            transform: translateX(-50%);
        }
    }

    &__userName {
        @extend %card__userName;
        margin-top: 45px;
        text-align: center;
        font-size: 1.1em;
    }

    &__date {
        @extend %card__info;
        margin-top: 15px;
        text-align: center;
    }

    &__description {
        text-align: center;
        font-size: .9em;
    }
}