@keyframes commentsFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.comments {
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,.2);
    animation: commentsFadeIn .3s linear;
}