$background-color-primary: #4e0429;
$background-color-secondary: #f1e1ca;
$background-color-secondary-bis: hsl(330, 10%, 50%);
$background-color-tertiary: hsl(335, 88%, 35%);

$layout-max-width: 700px;
$breakpoint: 900px;
