.newPostDiv {
    @extend %card;

    &__head {
        @extend %card__head;

        > div {
            width: 60px;
            height: 60px;
        }
    }

    &__userName {
        @extend %card__userName;

        font-size: 1.1em;
    }

    &__info {
        @extend %card__info;
    }

    &__imagePreview {
        margin-bottom: 10px;
        
        img {
            width: 100%;
        }
    }

    &__buttons {
        margin-top: 0.5em;
        display: flex;
        justify-content: space-between;
        width: 100%;

        button {
            margin: 0; 
            justify-self: flex-end;   
        }
    }

    form {
        padding: 0 10px 10px;
    }
}