.post {
    @extend %card;
    
    &__image {
        position: relative;

        img {
            margin-bottom: 15px;
            width: 100%;
        }
    }

    &__content {
        @extend %card__content;
    }

    &__modifyContent {
        background-color: rgba(0,0,0,.8);
    }

    &__modifyButtons {
        display: flex;
        align-items: center;
        padding: 5px 0 10px;

        > div {
            margin-right: auto;
        }

        button {
            margin: 0;
            justify-self: flex-end;

            &:first-of-type {
                margin-right: 10px;
            }
        }
    }

    form {
        padding: 0 10px;
    }
}