.btn {
    @extend %btn;

    &--primary {
        background-color: $background-color-primary;

        @include wideScreen {
            &:hover {
                background-color: $background-color-tertiary;
            }
        }
    }

    &--secondary {
        color: #000;
        border: 1px solid $background-color-primary;
        background-color: $background-color-secondary;

        @include wideScreen {
            &:hover {
                color: #fff;
                background-color: $background-color-primary;
            }
        }
    }

    &--tertiary {
        background-color: $background-color-tertiary;

        @include wideScreen {
            &:hover {
                background-color: $background-color-primary;
            }
        }
    }

    &--alert {
        color: #fff;
        background-color: rgb(212, 2, 2);

        @include wideScreen {
            &:hover {
                background-color: rgb(172, 47, 47);
            }
        }
    }
}